@use './variables';

.kasa-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 1240px;

  @media (max-width: variables.$breakpoint-mobile) {
    max-width: variables.$mobile-max-width;
    width: 100%;
    padding: 0 variables.$padding-normal;
  }

  .kasa-logo {
    height: 60px;

    @media (max-width: variables.$breakpoint-mobile) {
      height: 40px;
    }
  }

  .kasa-nav {
    display: flex;
    gap: 4rem;

    @media (max-width: variables.$breakpoint-mobile) {
      gap: 2rem;
    }

    .nav-link {
      text-decoration: none;
      color: variables.$text-dark;
      font-size: variables.$font-size-normal;
      font-weight: bold;
      text-transform: none; // par défaut (desktop)

      &.active {
        text-decoration: none;
      }

      @media (max-width: variables.$breakpoint-mobile) {
        font-size: variables.$font-size-xs;
        text-transform: uppercase; // majuscules seulement sur mobile
      }
    }
  }
}
