@use './variables';

.collapses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 2rem auto;
  padding: 0 variables.$padding-small;
  width: 100%;
  max-width: 1023px;
  box-sizing: border-box;
}

.collapse {
  width: 100%;
  border-radius: 10px;
  align-self: flex-start;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background-color: transparent;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    color: variables.$text-light;
    font-size: variables.$font-size-s;
    font-weight: 700;
    padding: variables.$padding-small;
    border-radius: 10px;
    cursor: pointer;
    min-height: 52px; // fixe la hauteur même quand collapse est ouverte
    line-height: 1; // stabilité verticale du texte
    box-sizing: border-box;

    @media (max-width: variables.$breakpoint-mobile) {
      font-size: 1.1rem;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }

  &__icon__close {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform-origin: center center;
  }

  &__content {
    background-color: variables.$grey-light;
    color: variables.$text-dark;
    font-size: variables.$font-size-xs;
    line-height: 1.6;
    padding: 1rem;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;

    p,
    ul {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      padding-left: 0;
    }
  }

  &.active &__content {
    max-height: 1000px;
    transform: scaleY(1);
    opacity: 1;
  }

  &.inactive &__content {
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
  }
}

.rotated {
  transform: rotate(-180deg);
}
