@use './variables';

.collapses {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1023px;
  box-sizing: border-box;
}
.collapse {
  width: 100%;
  background-color: variables.$primary-color;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    color: variables.$text-light;
    font-size: 18px;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }

  &__content {
    background-color: variables.$grey-light;
    color: variables.$text-dark;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 1rem; // on enlève padding vertical ici
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &.active &__content {
    max-height: 1000px; // assez grand pour tout contenu
    padding: 1rem; //seulement quand actif
  }

  &.inactive &__content {
    max-height: 0;
  }
}

.rotated {
  transform: rotate(180deg);
}
