@use './variables';

.Error-background {
  width: 1240px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (max-width: variables.$breakpoint-mobile) {
    width: 100%;
    padding: 0 variables.$padding-small;
    box-sizing: border-box;
  }
}

.Error-page {
  max-width: 1024px;
  width: 100%;
  padding: variables.$padding-normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error-title {
  font-size: 120px;
  color: variables.$primary-color;
  font-weight: 700;
  padding-block: variables.$padding-small;

  @media (max-width: variables.$breakpoint-mobile) {
    font-size: 72px;
  }
}

.Error-content {
  color: variables.$primary-color;
  padding-bottom: 50px;
  font-size: variables.$font-size-l;

  @media (max-width: variables.$breakpoint-mobile) {
    font-size: variables.$font-size-normal;
  }
}

.Link {
  color: variables.$text-dark;
  font-size: variables.$font-size-s;
  text-decoration: underline;
  padding-bottom: 50px;

  @media (max-width: variables.$breakpoint-mobile) {
    font-size: variables.$font-size-xs;
  }
}
