@use './variables';

.kasa-footer {
  background-color: black;
  height: variables.$footer-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .kasa-logo {
    height: 40px;
    margin-bottom: 10px;
  }

  h2 {
    color: variables.$text-light;
    font-size: 16px;
  }

  @media (max-width: variables.$breakpoint-mobile) {
    width: 100vw;
    height: variables.$mobile-footer-height;
    margin: 0;
    border-radius: 0;
  }
}
