@use './variables';
.logement-container {
  display: flex;
  flex-direction: column;
}
.sliderStyles {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.imageStyles {
  width: 100%;
  height: 415px;
  border-radius: 10px;
  object-fit: cover;
}
.titre {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: variables.$primary-color;
}
.leftArrowStyles,
.rightArrowStyles {
  position: absolute;
  top: 40%;
  cursor: pointer;
  background: none;
  border: none;
  color: variables.$text-light;
  font-size: 10em;
  font-weight: 200;
  transform: translateY(-50%);
  //contour caché autour des fleches//
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.leftArrowStyles {
  left: 10px;
  padding-left: 10px;
}

.rightArrowStyles {
  right: 10px;
  padding-right: 10px;
}
.rating {
  display: flex;
  margin-top: 10px;
}

.rating {
  .star {
    margin-right: 4px;
    font-size: 1.2rem;
  }

  .filled {
    color: variables.$primary-color;
  }

  .empty {
    color: variables.$grey-medium;
  }
}
.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.logement-info {
  max-width: 70%;
}

.logement-host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.collapse-container {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  margin-top: 20px;

  .collapse {
    width: 100%;
  }
}
.collapse__content {
  background-color: #f6f6f6;
  padding: 20px;
  /*border-radius: 10px;*/
  font-size: 14px;
  margin-top: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
    }
  }
}

// Pour l'espace entre les deux Collapse
.collapse-container {
  display: flex;
  justify-content: space-between;
  gap: 40px; // espace entre les deux Collapse
  margin-bottom: 50px; // espace avec le footer
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;

  .tag {
    background-color: variables.$primary-color;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
