// Couleurs
$primary-color: #ff6060;
$text-light: #ffffff;
$text-dark: #000000;
$overlay-background: #000000;
$grey-light: hsla(0, 0%, 97%, 1);
$grey-medium: rgb(165, 157, 157);

// Tailles de police
$font-size-xs: 0.9rem;
$font-size-normal: 1.2rem;
$font-size-xl: 2.8rem;

// Taille
$mobile-footer-height: 200px;
$footer-height: 150px;
$banner-height: 111px;
$mobile-max-width: 335px;

// Espacements
$padding-normal: 20px;
$padding-large: 40px;
$padding-xl: 60px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
